.Paper{
    padding: 20px;
    display: grid;
    gap: 20px;
    max-width: 85%;
}
.inputs{
    display: grid;
    gap: 30px;
}

.grido{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}


.NextButton{
    width: 120px;
}