.templatedetailseducation {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
  }
  
  .templateuniversity,
  .startendeducation {
    font-size: 17px;
    margin-left: 10px;
    font-weight: 400;
  }
  
  .startendeducation {
    font-style: italic;
    margin-left: 4px;
  }