.professionalexpheading{
  font-size: 19px;
  font-weight: 600;
  margin-top: 10px;
  text-align: left;
}

.verticalline {
  width: 100%;
  border: none;
  height: 2px;
  margin-bottom: 8px;
}

@media screen and (max-width: 500px) {
  .professionalexpheading{
    font-size: 13px;
  }
}