.skill{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
  text-align: left;
}

.project{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
  text-align: left;
}

.achievement{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
  text-align: left;
}