

  .skill{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
    text-align: left;
  }

.project{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
    text-align: left;
  }

.achievement{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
    text-align: left;
  }